<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>説明文</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
    </tr>
  </tbody>
</table>